<div class="flex-container">
    <div class="row">
        <div class="col-sm-4">
            <div>
                <a href=""><img class="simg" style="align:left;text:justify;"
                        src="../../../assets/images/pot1.jpg"></a>
            </div>
        </div>
        <div class="col-sm-8">
            <div>
                <a href="">Special Handcrafted Earthen pot</a><br>
                <span class="text-muted" style="text-align:justify;">
                    <span class="pr-3">Earthen</span><br>
                    <span class="mr-3">Seller: Laxmi Kanojia</span><br>
                </span>
                <span>₹350 <s class="muted">₹450</s>
                  
                    <span style="color:green"> &emsp; 9% Off 3 offers available</span></span><br>
                <a href=""><span class="pr-3 " style="font-weight:bold; font-size:19px;">Save For Later</span></a>
                <a href=""><span class="pl-2 " style="font-weight:bold; font-size:19px;">Remove</span></a>
            </div>
            <div class="fl">
                Delivery in 2 days, Thu | <span style="color:green;">Free </span><s> ₹40</s><br>
                <small>10 Days Replacement Policy</small>
            </div>
        </div>
    </div>
</div>