<nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-md-center ncat" id="navbarsExample08">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="navbar-brand" href="#" style="margin-right: 50px;"> Tribal E-mart</a>
        </li>
        <form class="form-inline my-2 mr-5 my-md-0">
        <input class="form-control" type="text" placeholder="Search" style="width: 550px;" aria-label="Search">
      </form>
      <li class="nav-item active border-box">
        <a class="nav-link mr-2" href="#">Login & Signup</a>
      </li>
      <li class="nav-item mr-3 dropdown active border-box">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
        <div class="dropdown-menu rounded-0" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Notification Prefrence</a>
          <a class="dropdown-item" href="#">Sell On E-mart</a>
          <a class="dropdown-item" href="#">24x7 Customre Care</a>
          <a class="dropdown-item" href="#">Advertise</a>
          <a class="dropdown-item" href="#">Download App</a>
        </div>
      </li>
      <li class="nav-item active border-box">
        <a class="nav-link mr-3" [routerLink]="['/cart']">Cart</a>
      </li>
        <li class="nav-item mr-3 dropdown active border-box">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manav</a>
          <div class="dropdown-menu rounded-0" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#"><i class='fas fa-user-alt pr-2' style='font-size:16px'></i>My Profile</a>
            <a class="dropdown-item" href="#"><i class='fas fa-donate pr-2' style='font-size:16px'></i>Supercoin Zone</a>
            <a class="dropdown-item" href="#"><i class='far fa-gem pr-2' style='font-size:16px'></i>Ekart Premium Zone</a>
            <a class="dropdown-item" href="#"><i class='fas fa-clipboard pr-2' style='font-size:16px'></i>Order</a>
            <a class="dropdown-item" href="#"><i class='fas fa-heart pr-2' style='font-size:16px'></i>Wishlist</a>
            <a class="dropdown-item" href="#"><i class='fas fa-comment-alt pr-2' style='font-size:16px'></i>My Chats</a>
            <a class="dropdown-item" href="#"><i class='far fa-newspaper pr-2' style='font-size:16px'></i>Coupons</a>
            <a class="dropdown-item" href="#"><i class='fas fa-wallet pr-2' style='font-size:16px'></i>Gift Card</a>
            <a class="dropdown-item" href="#"><i class='fas fa-bell pr-2' style='font-size:16px'></i>Notifications</a>
            <a class="dropdown-item" href="#"><i class="fa fa-sign-out" style="font-size:36px"></i>Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  