<div class="container mt-3 pt-3">
    <div class="row mt-3 pt-5">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Price Detail</span>
            </h4>
            <ul class="list-group mb-3" style="font-size:20px;">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0" style="font-size:20px;">Price (1 item)</h6>
                    </div>
                    <span class="text-muted">350</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0" style="font-size:20px;">Delivery Fee</h6>
                    </div>
                    <span class="text-muted">Free</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0" style="font-weight: bold; font-size:20px;">Total Payable</h6>
                    </div>
                    <span class="text-muted">₹350</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0" style="color:Green; font-size:16px;">You will save ₹100 on this order</h6>
                    </div>
                </li>
                </ul>
                <div>
                    <i class='fas fa-shield-alt my-3 mx-2' style='font-size:36px'></i><span style="font-size:15px;">Safe
                        and Secure Payments.Easy returns 100% Authentic products</span></div>
        </div>

        <div class="col-md-8 order-md-1 bord">
            <h4 class="d-flex justify-content-between align-items-center mb-3 mt-3">
                <span>My Cart(1)</span>
                <span><i class='fas fa-crosshairs' style='font-size:15px'></i>
                    <span class="text-muted mr-2  " style="font-size:17px;">Deliver To</span>
                    <span class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Karnal-132001
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </span>
                </span>
            </h4>
            <hr>

            <app-cart-item></app-cart-item>
            <hr>
            <a href=""><button type="button" class="btn btn-dark btn-lg mt-3 mb-1 bt-h" style="margin-top: 0px !important;float: right;margin-bottom: 10px !important;">ADD TO
                    CART</button></a>
        </div>
    </div>


</div>
<hr>
<div class="container">
    <span>Policies:Returns PolicyTerms of use Security Privacy Infringement © 2007-2020 Emart.com.</span>
    <span class="ml-5 pl-5" style="align:right;">Need help? Visit the <a href="">Help Center</a> or <a href="">Contact
                    Us</a></span>
</div>