
    <div class="container mt-3 pt-5">
        <div class="row">
            <div class="col">
                <div class="container fx">
                    <img class="mimg" src="../../assets/images/cuttlery6.jpg"><br>
                    <a href=""><img class="simg" src="../../assets/images/cut1.jpg"></a>
                    <a href=""><img class="simg" src="../../assets/images/cut2.jpg"></a>
                    <a href=""><img class="simg" src="../../assets/images/cut3.jpg"></a>
                    <div>
                        <a href="" style="margin-right:50px"><button type="button" class="btn btn-primary btn-lg mt-3 bt-h">ADD TO CART</button></a>
                        <a href=""><button type="button" class="btn btn-success btn-lg mt-3 bt-h">BUY NOW</button></a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="container fx-r">
                    <div class="pb-3"><strong><h3>Premium kitchen Cuttlery set (5 Pieces)</h3></strong>
                    </div>
                    <div class="pb-3"><a href="">Be The First To Review This Product</a><br></div>
                     <span style="color: #333;">4,171 Ratings 738 Reviews</span>
                    <div style="color: green;">Special Price</div>
                    <h1 class="pr-1">₹500 <small class="text-muted" style="font-size:20px"><s> ₹700</s> </small><small
                            style="font-size:20px">20% off</small></h1>
                    <div class="mb-3"><b>Available offers</b></div>
                    <div class="my-1"><span style="font-weight:bold;"><img
                                src="../../assets/icons/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png"
                                height="20" style="margin-right: 20px;">Bank Offer</span> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card
                    </div>
                    <div class="my-1"><span style="font-weight:bold;"><img
                                src="../../assets/icons/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png"
                                height="20"style="margin-right: 20px;">Bank Offer</span> Extra 5% off* with Axis Bank Buzz Credit Card <a
                            href="#">T&C</a></div>
                    <div class="my-1"><span style="font-weight:bold;"><img
                                src="../../assets/icons/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png"
                                height="20"style="margin-right: 20px;">Special Price</span> Get extra 20% off (price inclusive of discount) <a
                            href="#">T&C </a></div>
                    <div class="my-1"><span style="font-weight:bold;"><img
                                src="../../assets/icons/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png"
                                height="20"style="margin-right: 20px;">Combo Offer</span> Buy 2 items save 5%; Buy 3 or more save 10% <a
                            href="#">See all products T&C</a></div>
                    <table class="mt-3">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <form class="pincode" autoComplete="off">
                                            <span class="text-muted">Delivery</span>
                                    <!-- </td> -->
                                    <td>
                                        <svg width="12" height="12" viewBox="0 0 9 12"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill="#2874f0"
                                                d="M4.2 5.7c-.828 0-1.5-.672-1.5-1.5 0-.398.158-.78.44-1.06.28-.282.662-.44 1.06-.44.828 0 1.5.672 1.5 1.5 0 .398-.158.78-.44 1.06-.28.282-.662.44-1.06.44zm0-5.7C1.88 0 0 1.88 0 4.2 0 7.35 4.2 12 4.2 12s4.2-4.65 4.2-7.8C8.4 1.88 6.52 0 4.2 0z"
                                                fill-rule="evenodd"></path>
                                        </svg>
                                        <input type="text" placeholder="Enter Delivery Pincode" value=""
                                            maxLength="6" />
                                        </form>
                                        <div class="pt-2 ml-2">Enter pincode for exact delivery dates /charges</div>
                                    </td>
                                </tr>
                                </tbody>
                                </table>
                    <!-- </div> -->
                <!-- </div> -->


                <div class="">
                    <tr>
                        <td>
                            <span class="mr-5 text-muted">Seller</span>
                        </td>
                        <td>
                            <span>Sushma Gond</span>
                        </td>
                    </tr>
                </div>

                <!-- <div class="">
                    <tr>
                        <td>
                            <span class="mr-5 text-muted">Description</span>
                        </td>
                        <td>
                            <span>Blueseed Presenting you the sensation and stylish look designed with ultra boost 3d
                                like powerful sound,,enjoy music at its glance with this mini dynamite like stylish
                                ,portable and super powerful ultra sound boost wireless speaker..This speaker is
                                specially designed to meet all your music and listening requirments as well as this
                                powerful speaker is waterproof/splashproof.. some of its key features are: Advanced
                                Bluetooth decode chip, support to connected with the all Bluetooth equipment. 2?Voice
                                calling-number 3?Automatically re-connect, automatically into pairing mode when failed
                                4?Low power prompt 5?Redial function 6?Volume synchronization, the default volume is 50%
                                of the maximum 7?Power synchronization 8?Bluetooth working distance: 10M 9?Reading TF
                                card and U disk 10?Support line in audio input 11?With FM radio</span>
                        </td>
                    </tr>
                </div> -->

                <!-- </tbody> -->
                <!-- </table> -->

                <!-- <div class="inc-spec">
                    <h1>Specifications</h1>
                </div>
                <div class="inc-gen">
                    <h3>General</h3>
                </div>
                <table class="table table-borderless inpat">
                    <tbody>
                        <tr>
                            <td class="text-muted">Sales package</td>
                            <td>1 BLUETOOTH SPEAKER, 1 CHARGING CABLE</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Model Name</td>
                            <td>tg113 SPEAKER 10 Bluetooth Speaker (color Blue, 4.1 Channel)</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Type</td>
                            <td>Mobile/Tablet Speaker</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Bluetooth</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Memory Card Slot</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Configuration</td>
                            <td>4.1</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Power Source</td>
                            <td>BATTERY, 5V DC ADAPTER</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Power Output (RMS)</td>
                            <td>15 W</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Frequency Response</td>
                            <td>20-20000</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Impedance</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Color</td>
                            <td>Blue</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Wired/Wireless</td>
                            <td>Wired & Wireless</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Subwoofer</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Wall Mountable Satellite</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td class="text-muted">Outdoor Usage</td>
                            <td>Yes</td>
                        </tr>


                     </tbody> -->
                </table>



            </div>

        </div>
    </div>

