<html>
<body>
    <div class="container gap text-center" style="margin-top: 30px;">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <div class="panel panel-default" style="margin-top: 20%;">
                    <div class="panel-body">
                        <h3>Filters</h3>
                        <ul class="list-group">
                            <li class="list-group-item">First item</li>
                            <li class="list-group-item">Second item</li>
                            <li class="list-group-item">Third item</li>
                            <li class="list-group-item">Fourth item</li>
                            <li class="list-group-item">Fifth item</li>
                        </ul>
                    </div>

                </div>

            </div>
            <div class="col-sm-9 text-left">

                <div class="panel panel-default" style="margin-top: 6%;">
                    <div class="panel-body">Pottery(12 items)</div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="thumbnail">

                                <a href="../../assets/images/pot4.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot4.jpg" alt="pottery" style="width:100%" class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">

                                <a href="../../assets/images/pot5.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot5.jpg" alt="pottery" style="width:100%" class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <a href="../../assets/images/pot6.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot6.jpg" alt="pottery" style="width:100%" class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <a href="../../assets/images/pot7.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot7.jpg" alt="pottery" style="width:100%" class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <a href="../../assets/images/pot8.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot8.jpg" alt="pottery" style="width:100%" class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <a href="../../assets/images/pot9.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot9.jpg" alt="pottery" style="width:100%" class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <a href="../../assets/images/pot10.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot10.jpg" alt="pottery" style="width:100%" class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <a href="../../assets/images/pot11.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot11.jpg" alt="pottery" style="width:100%" class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <a href="../../assets/images/pot12.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot12.jpg" alt="pottery" style="width:100%" class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <a href="../../assets/images/pot13.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot13.jpg" alt="pottery" style="width:100% " class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <a href="../../assets/images/pot14.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot14.jpg" alt="pottery" style="width:100%"class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <a href="../../assets/images/pot15.jpg" class="detl image-effect" target="_blank">
                                    <img src="../../assets/images/pot15.jpg" alt="pottery" style="width:100%" class="img-thumbnail">
                                    <div class="caption">
                                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <footer>
        <div class="container">
            <div class="footer-bottom">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <ul class="info txt">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>